# Ignore all files
*

# except these listed below
# for git repo
!.gitignore

# for terminal
!.bashrc
!.Xresources

# for directory tree structure
!.config/

# for ctpv
!.config/ctpv/
!.config/ctpv/*

# for i3
!.config/i3/
!.config/i3/*

# for lf
!.config/lf/
!.config/lf/*

# for neovim
!.config/nvim/
!.config/nvim/*

# for tmux
!.config/tmux/
!.config/tmux/*
