# Ignore all files
*
# except these listed below
# for git repo
!.gitignore

# for terminal
!.bashrc
!.Xresources
!.vimrc

# for directory tree structure
!.config/

# for i3
!.config/i3/
!.config/i3/*

# for lf
!.config/lf/
!.config/lf/*

# for ctpv
!.config/ctpv/
!.config/ctpv/*
